<div class="container">
    <h1><%= @board_name %> </h1>
    <% @streams.each do |streams| %>
        <div class="post">
            <h3><a href="/board/<%= @board_id %>/streams/<%= streams.id %>"><%= streams.title %></a></h3>
            <hr>
            <div class="poster-name">
                Posted by: <%= @users.find(streams.user_id).name %></br>
                At: <%= streams.created_at %>
            </div>
        </div>
    <% end %>
</div>
<div class="container">

            <a href="/board/"/>
                <div class="bot_nav">
                    <h3> <<< Back to Boards</h3>
                </div>
            </a>
            <a href="/board/<%= @board_id %>/streams/new">
                <div class="new bot_nav">
                    <h3>New Thread</h3>
                </div>
            </a>
</div>
