<div class="container">
    <h1><%= @stream_title %> </h1>
    <div class="poster-name">
        Posted by: <%= @users.find(@streams.find(params[:id]).user_id).name %>
    </div>
    <% @posts.each do |posts| %>
    <div id="wrapper">
        <div class="post">
            <div class="profile">
                <h4><%= User.find(posts.user_id).name %></h4>
                <p>Last seen: <%= User.find(posts.user_id).last_sign_in_at %></p>
            </div>
                <div class="post-content">
                    <p><%= posts.content %></p>
                </div>
        </div>
    </div>
    <% end %>
</div>

<div class="container">

            <a href="/board/<%= @board_id %>/streams/"/>
                <div class="bot_nav">
                    <h3> <<< Back to <%= @board_name %></h3>
                </div>
            </a>
            <a href="/board/<%= @board_id %>/streams/<%= @stream_id %>/post/new">
                <div class="new bot_nav">
                    <h3>New Post</h3>
                </div>
            </a>
</div>
