<div class="container">
        <h1>Make Post </h1>
        <%= form_for [@board, @stream, @post], url: { :action => "create", } do |f| %>
            <div class="field">
                <%= f.label 'Response: ' %></br>
                <%= f.text_area :content, size: "50x10", required: true %>
            </div>
            <div class="action">
                <%= f.submit 'Submit Post' %>
            </div>
        <% end %>
</div>

<div class="container">
    <a href="/board/<%= params[:board_id]%>/streams/<%= params[:stream_id]%>"/>
        <div class="bot_nav button">
            <h3> <<< Back to Thread</h3>
        </div>
    </a>
</div>
